<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @diadelasemana.nombre %>
</p>

<%= link_to 'Edit', edit_diadelasemana_path(@diadelasemana) %> |
<%= link_to 'Back', diadelasemanas_path %>
